body {
    background-color: gray;
    margin: 0 auto;
    width: 806px;
    overflow: auto;
    padding: 0;
    text-align: justify;
}

header {
    background-color: white;
    border-radius: 10px;
}

h1 {
    position: absolute;
    padding-left: 180px;
    margin: 0;
    top: 30px;
    white-space: nowrap;
}
ul {
    margin: 0;
}
/*Main menu*/
#menu {
    margin: 0;
    padding-left: 200px;
    list-style: none;
}
#menu ul {
    left:-9999px;
    list-style:none;
    position:absolute;
    background-color: white;
    display: block;
    opacity:0;
}
#menu li {
    position: relative;
    display: inline;
    padding: 1px 0;
}
#menu ul li {
    float:none;
}
#menu ul a{
    white-space:nowrap;
    display:block;
}
#menu li:hover ul{
    left: 0;
    border: 1px solid;
    opacity:1;
    padding: 5px;
    border-radius: 5px;
}

/*-----------*/
body div, article, h2, h3, form{
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 5px 5px 0 5px;
    font-family: Arial;
    text-align: justify;
}
body main {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: justify;
}
div span {
    padding: 5px 0;
}
#sider {
    float: right;
    width: 200px;
    text-align: justify;
    font-family: Times New Roman;
    margin: 5px;
    padding: 5px;
    background-color: silver;
    border-radius: 10px;
}
#sider h3 {
    background-color: silver;
    font-family: Times New Roman;
    margin: 0;
    font-size:16px;
    padding: 10px 10px 10px 0;
}
#sider p {
    margin: 0;
    font-size:13px;
}
#up {
    background-color: white;
    border-radius: 10px;
    padding: 0 5px;
}
article p, h2{
    margin: 0;
    padding: 0;
}
article h2, h3{
    padding-bottom: 10px;
}
article h3{
    padding: 10px 0;
}
#down-button {
    border-radius: 0 0 10px 10px;
    padding: 5px;
    
}
#upper-table {
    border-radius: 10px 10px 0 0;
}
#test {
    border-radius: 10px;
    background-color: white;
}
#table {
    background-color:white;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
    text-align: justify;
}
#table tbody {
    height: 100%;
}
#table tr {
    height: 100%;
}
#table th {
    width: 50px;
    height: 100%;
}
#table button {
    width: 100%;
}
#equal {
    height: 100%;
}
#table input {
    width: 264px;
    
}
footer {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

